
input[type="text"], input[type="date"], option
{
		font-size: 14px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

thead, tbody { display: block; }

tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.same-row {
	display: inline-block !important;
}

.pull-right {
	position: absolute !important;
	right: 20px !important;
}

.pull-down {
	position: absolute !important;
	bottom: 10px;
}

.show-hand {
  cursor: pointer;
}

.full-width {
	width: 100% !important;
}

.width50 {
	width: 50% !important;
}

.width30 {
	width: 30% !important;
}

.width20 {
	width: 20% !important;
}

.width70 {
	width: 70% !important;
}

.full-height {
	height:100vh;
}

.input-box {
	margin-left: 10px;
	width: 300px;
}

.sane-margin-from-top {
	margin-top: 10px !important;;
}

.big-margin-from-top {
	margin-top: 25px !important;;
}

.sane-margin-from-top-for-mobile {
	margin-top: 5px !important;;
}

.sane-margin-from-left {
	margin-left: 10px !important;;
}

.big-margin-from-right {
	margin-right: 30px !important;;
}

.sane-margin-from-right {
	margin-right: 10px !important;;
}

.sane-margin {
	margin-left: 10px !important;
	margin-top: 10px !important;
}

.sane-margin-from-bottom {
	margin-bottom: 10px !important;;
}

.big-margin-from-bottom {
	margin-bottom: 40px !important;;
}

.big-margin-from-left {
	margin-left: 25px !important;;
}

.no-margin {
	margin: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.title {
	background: #346d91;
	height: 40px !important;
	text-align: center;
	line-height: 40px;
	color: white;
}

.primary-color {
	color: #346d91 !important;
}

.text-middle {
	text-align: center;
}

.align-right {
	text-align: right !important;
}

.align-left {
	text-align: left;
}

.align-top {
	text-align: top;
}

.all-borders {
	border: #346d91 !important;
	border-width: thin;
}

.no-border {
	border: none !important;
}

.align-middle {
	position: relative;
	top: 100%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.footer {
	font-size: 10px;
	text-align: center;
}

.background-test {
	background: #e91e63 !important;
}

.links {
	font-size: 12px;
	cursor: pointer;
}

.transparent {
	background: transparent !important;
}

.box {
	display: flex;
	align-items: center;
}

.danger {
	color: red;
}

.small-font {
	font-size: 10px !important;
}

.locked {
	color: green;
}

.bottom-border-gray {
	border-bottom-color: #e5e6e8;
	border-bottom-width: thin;
	border-bottom-style: solid;
}

.bottom-border-thick-primary {
	border-bottom-color: #346d91;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.box-shadow-blue {
	box-shadow: 0 1px 1px 0 rgba(16, 13, 31, 0.767), 0 1px 0px 0 rgba(0, 0, 0, 0.19);
}

.small-square {
	width: 100px;
	height: 100px;
}

.overlay {
	background: rgba(0, 0, 0, 0.1);
}

.hide {
	display: none;
}

.circle:before {
	content: ' \25CF';
	font-size: 10px;
}

.profile-menu {
	height: 400px !important;
	width: 200px !important;
	left: unset !important;
	right: 0px !important;
	bottom: unset !important;
}

.menu-bar {
	height: 30px;
	background: rgb(233, 228, 228);
	padding-left: 100px;
	line-height: 30px;
	font-size: 12px;
}

.menu-bar .header {
	color: #346d91;
	margin-left: 50px;
}

.menu-bar .child {
	color: #346d91;
	text-decoration: none;
}

.no-underline {
	text-decoration: none;
}

.underline {
	text-decoration-line: underline;
}

.menu-dropdown {
    position: relative;
    display: inline-block;
}

.menu-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 100;
}

.menu-dropdown:hover .menu-dropdown-content {
    display: block;
}

.eb-table {
    position: sticky;
    top: 0;
    z-index: 10;
}